
body{
    background-image: url(../img/fundo.png);
    background-attachment: fixed;
}

.imgintegrantes{
    width: 40%;
    float: left;
    border-radius: 20px;
    padding: 1%;
}

.imgintegrantesdi{
    width: 40%;
    float: right;
    border-radius: 20px;
    padding: 1%;
}

h1{
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

h2{
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

.container{
    padding: 2%;
    background-color: black;
}

.containerbio{
    padding: 2%;
    background-color: #00010e;
}

.imghist{
    width: 40%;
    float: right;
    border-radius: 20px;
    padding: 1%;
}

.imginsp{
    width: 40%;
    float: left;
    border-radius: 20px;
    padding: 1%;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.col-4{
    width: 33.3%;
    margin-top: 2.5%;   
}

@media (max-width: 800px){
    .linha{
        flex-direction: column;
    }
    .col-4{
        width: 100%;
    }
}

.beneesquerda{
    float: left;
    width: 13%;
    border-radius: 6px;
    margin: 1%;
}

.benedireita{
    float: right;
    width: 13%;
    border-radius: 6px;
    margin: 1%;
}

.card{
    border-width: 5px;
    border-color:#989c9e; 
    box-shadow: 5px 5px 5px  #989c9e; 
    width: 90%;
    margin: auto;
}

.smart{
    text-align: center;
}

.esquerda{
    text-align: left;
}

.direita{
    text-align: right;
}

.imgbio{
    background-color: #010225;
    
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer{
    background-color: black;
    margin-top: 3%;
    width: 100%;
    text-align: center;
}

.bodybio{
    background-color: #010225;
}


.borda_form{
    background-color: rgba(128, 128, 128, 0.3) ;
    padding: 8%;
    border-radius: 25px;
    margin-top: 1%;
    margin: 1%;
    margin-bottom: 5%;
    box-sizing: border-box;
  }
  

  input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
    font-family: 'EduNSWACTFoundation-VariableFont_wght',cursive;
  }
 

.col-25{
  width: 25%;
  float: left;

}

.col-75{
width: 75%;
float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color:
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


.botaoform{
  margin-top: 3%;
  margin-bottom: 2%;
}

.containercont{
    background-color: #270140;
    width: 80%;
    margin: auto;
    border-radius: 5%;
}

.bodycont{
    background-image: url(../img/fundo\ contato.jpg);
}